@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Utara';
  src: url('/Font/Utara font/utara webfonts/Utara-Light.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'CooperHewitt';
  src: url('/Font/CooperHewitt-OTF-public/CooperHewitt-OTF-public/CooperHewitt-Book.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}