@tailwind base;
@tailwind components;
@tailwind utilities;


/*Utara font*/
@font-face {
  font-family: 'Utara';
  src: url('/Font/Utara font/utara webfonts/Utara-Light.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Utara';
  src: url('/Font/Utara font/utara webfonts/Utara-Medium.woff2') format('woff2');
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: 'Utara';
  src: url('/Font/Utara font/utara webfonts/Utara-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Utara';
  src: url('/Font/Utara font/utara webfonts/Utara-SemiBold.woff2') format('woff2');
  font-weight: semibold;
  font-style: normal;
}
@font-face {
  font-family: 'Utara';
  src: url('/Font/Utara font/utara webfonts/Utara-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/*CooperHewitt font*/
@font-face {
  font-family: 'CooperHewitt';
  src: url('/Font/CooperHewitt-OTF-public/CooperHewitt-OTF-public/CooperHewitt-Book.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}